@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway.eot');
  src: url('../fonts/raleway.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway.woff2') format('woff2'),
  url('../fonts/raleway.woff') format('woff'),
  url('../fonts/raleway.ttf')	format('truetype'),
  url('../fonts/raleway.svg#svgFontName') format('svg');
}